@import "tailwindcss";

:root {
  font-family: var(--font-dm-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* * {
  scrollbar-color: #3b3b3c #ffffff00;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
