@import "tailwindcss";

/* * {
  scrollbar-color: #3b3b3c #ffffff00;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
